---
import BaseLayout from "../../layouts/BaseLayout.astro";
const allPosts = await Astro.glob("../posts/*.md");
const tags = [...new Set(allPosts.map((post) => post.frontmatter.tags).flat())];
const pageTitle = "Tag Index";
---

<BaseLayout pageTitle={pageTitle}>
  <div class="tags">
    {
      tags.map((tag) => (
        <p class="tag">
          <a href={`/tags/${tag}`}>{tag}</a>
        </p>
      ))
    }
  </div>
</BaseLayout>

<style>
  a {
    color: #3d3939;
    text-decoration: none;
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
  }

  .tag {
    margin: 0.25em;
    border-radius: 0.8em;
    padding: 0.5em 1em;
    font-size: 1.15em;
    display: inline-block;
    padding: 0.5rem;
    background: #a6e22e;
    color: rgb(129, 129, 129);
    transition: all 0.3s ease-in-out;
    background-color: #d5f497;
  }

  .tag:hover {
    background: #ffffff;
    text-color: #000000;
    box-shadow: 0 0 8px #000000;
  }
</style>
