---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";
const allPosts = await Astro.glob("../pages/posts/*.md");
const pageTitle = "Blog";
---

<BaseLayout pageTitle={pageTitle}>
  <p>
    This is where I will post about my learning of automated computational
    engine and some personal blog related to [ ].
  </p>
  <section>
    {
      allPosts.map((post) => (
        <a href={post.url} class="blog-post">
          <article>
            <h2>{post.frontmatter.title}</h2>
            <p class="post-date">
              {new Date(post.frontmatter.pubDate).toLocaleDateString("en-US", {
                month: "long",
                day: "numeric",
                year: "numeric",
              })}
            </p>
            <p class="post-excerpt">{post.frontmatter.description}</p>
          </article>
        </a>
      ))
    }
  </section>
</BaseLayout>

<!-- have to fix the underline issue asap -->

<style>
  .blog-post {
    margin-bottom: 2rem;
    padding: 1rem;
  }
  .blog-post h2 {
    margin-bottom: 0.5rem;
    color: pink;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
  }
  .post-date {
    margin-bottom: 0.5rem;
    font-size: 0.875rem;
    font-weight: 650;
    color: #a0aec0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
  }
  .post-excerpt {
    font-size: 1rem;
    line-height: 1.5;
    color: #4a5568;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
  }
  article {
    background-color: rgba(0, 0, 0, 0.153);
    border-radius: 15px;
    padding: 1rem;
    transition: background-color 0.15s ease-in-out;
    text-decoration: none;
  }

  article:hover {
    background-color: rgba(0, 0, 0, 0.05);
    text-decoration: none;
  }
  a:hover {
    text-decoration: none;
  }

  article a {
    text-decoration: none;
  }
</style>
