---
import BaseLayout from "../layouts/BaseLayout.astro";
import Greeting from "../components/Greeting";
const pageTitle ="Home Page";
---

<BaseLayout pageTitle = {pageTitle}>
  <h2> &#x1F529; The site is currently in progress and hopefully will get done by this week :) &#x1F477;  &#x1F528;</h2>
  <Greeting client:load messages={[
    "नमस्ते",
    "Hallo",
    "Hola",
    "Habari",
    "guten Tag",
    "salve",
    "您好",
    "السلام عليكم",
    "こんにちは",
    "안녕하세요",
    "olá",
    "namaste",
    "здравствуйте",
    "merhaba",
    "xin chào",
    "سَلام",
    "dzień dobry",
  ]} />
</BaseLayout>