---
import BaseLayout from "../layouts/BaseLayout.astro";
import Greeting from "../components/Greeting";
const pageTitle = "heliumpng";
---

<BaseLayout>
  <h1>heliumpng <span class="cursor"></span></h1>
  <div class="container">
  <img src="public/image2.jpg" alt="me sitting with my cat">
  </div>
  <style>
    img {
      border-radius: 50%;
      width: 200px; height: 200px;    
    }
    .container {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  </style>
  <p>
    Hello web surfer welcome to my website! I like learning about computers and
    other topics related to software. You can read my articles and information
    about myself in the header.
  </p>
  <h2>Socials and Contributions</h2>
  <p>You can <s>stalk</s> find me on the following platforms:</p>
  <ul>
    <li>
      Github: <a href="https://github.com/intincrab">intincrab</a>
    </li>
    <li>Gitlab: <a href="https://gitlab.com/intincrab1">intincrab1</a></li>
    <li>Twitter: <a href="https://twitter.com/intincrab1">intincrab1</a></li>
  </ul>
  <Greeting
    client:load
    messages={[
      "नमस्ते",
      "Hallo",
      "Hola",
      "Habari",
      "guten Tag",
      "salve",
      "您好",
      "السلام عليكم",
      "こんにちは",
      "안녕하세요",
      "olá",
      "namaste",
      "здравствуйте",
      "merhaba",
      "xin chào",
      "سَلام",
      "dzień dobry",
    ]}
  />
</BaseLayout>
<style>
  .cursor {
    display: inline-block;
    width: 13px;
    height: 25px;
    margin-left: 0px;
    background-color: whitesmoke;
    animation: blink 1.3s infinite;
  }

  @keyframes blink {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
</style>
