---
---

<div class="nav-links">
    <p>
      <a href="/">./home</a> 
      <span>|</span>
      <a href="/about">about</a>
      <span>|</span>
      <a href="/blog">blog</a>
      <span>| </span>
      <a href="/tags/">tags</a>
    </p>
  </div>
  
