---
import ThemeIcon from "./ThemeIcon.astro";

---
<header>
  <div class="nav-links">
    <p>
      <a href="/">./home</a> 
      <span>|</span>
      <a href="/about">about</a>
      <span>|</span>
      <a href="/blog">blog</a>
      <span>| </span>
      <a href="/tags/">tags</a>
      <span class="icon-container">
        <ThemeIcon />
      </span>
    </p>
  </div>
</header>



<style>
  /* .nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .icon-container {
    margin-left: 10px;
    padding-top: 10px;
  }  g */
</style>
