---
const {platform,username} = Astro.props;

---
<a href={`https://www.${platform}.com/${username}`}>{platform}</a>
<style >
    a {
    display: inline-block;
    padding: 0.5rem;
    background: #A6E22E;
    color: rgb(0, 0, 0);
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    font-family: monospace;
  }
  
  a:hover {
    background: #fff;
    color: #333;
    box-shadow: 0 0 10px #000000;
  }

</style>

